.edit-profile-form {
    gap: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-profile-form p {
    font-weight: bold;
    margin-bottom: 5px;
}

.edit-profile-form #outlined-basic {
    width: 300px; 
    margin-bottom: 20px;
}

.edit-profile-form button {
    width: calc(50% - 130px);
    padding: 10px;
    margin-top: 10px;
    background-color: #245501;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-profile-form button:hover {
    background-color: #1a3f00;
}
