*{
	margin: 0px;
	padding: 0px;
}

.form{
	display: flex;
	justify-content: center;
}

.register-form{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60%;
}

.register-form > *:not(:last-child) {
	margin-bottom: 15px; 
  }