/* Add a black background color to the top navigation */
nav {
  background: black;
  overflow: hidden;
}

nav ul {
  list-style: none;
  justify-content: space-around;
  display: flex;
}
  
  /* Style the links inside the navigation bar */
 nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    opacity: 0.8;
  }
  
  /* Change the color of links on hover */
  nav a:hover {
    opacity: 1;
  }

  nav a:active {
    opacity: 0.6;
  }
  
  /* Add a color to the active/current link */
  nav a.active {
    background-color: #0a8055;
    color: white;
  }